<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="false">
	<display-name>nowcabs</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>NowcabsServlet</servlet-name>
		<servlet-class>com.rootmind.servlet.NowcabsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>NowcabsServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

  	<listener>
		<listener-class>com.rootmind.servlet.QuartzListener</listener-class>
	</listener>
 
</web-app>